dj-database-url==0.4.2
Django==1.11.6
django-tables2==1.12.0
gunicorn==19.7.1
py==1.4.31
pyOpenSSL==0.15.1
pyparsing==2.0.3
pytest==2.8.7
python-dateutil==2.4.2
python-slugify==1.2.4
pytz==2017.2
requests==2.9.1
scipy==0.17.0
statsmodels==0.6.1
tables==3.2.2
Unidecode==0.4.21
urllib3==1.13.1
virtualenv==15.0.1
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
xlrd==0.9.4
xlwt==0.7.5
