{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title> {{hero_name}} </title>
    </head>
    <body>
      <center>
      <h1>{{hero_name}} Main Page</h1>
        <a href="{% url 'stats:allies' slug=slug %}"><button type="button" class="btn btn-primary">Allies</button></a>
        <a href="{% url 'stats:enemies' slug=slug %}"><button type="button" class="btn btn-primary">Enemies</button></a>
        <a href="{% url 'stats:hero_maps' slug=slug %}"><button type="button" class="btn btn-primary">Maps</button></a>
        <a href="{% url 'stats:hero_talents' heroslug=slug %}"><button type="button" class="btn btn-primary">Talents</button></a>
        <h2> Overview </h2>
        <h3> Win Rate <div class="important-text">{{win_perc}} % </div> </h3>
        <h3> Best Maps 
          <div class="important-text">
            <ul style="list-style-type: none;">
              <li>{{ bestMapNames.0 }} {{ bestMapWinPercs.0 }} % </li>
              <li>{{ bestMapNames.1 }} {{ bestMapWinPercs.1 }} %</li>
              <li>{{ bestMapNames.2 }} {{ bestMapWinPercs.2 }} %</li>
            </ul>
          </div> 
        </h3>
      </center>
    </body>
    {% endblock %}
