{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
        <title> Hero Index </title>
    </head>
    <body>
      <center> Hero Index </center>
      <center>{% render_table table %}</center>
    </body>
</html>

