{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <title> {{hero_name}} </title>
    </head>
    <body>
      <a href="{% url 'stats:heroes' %}"><button type="button" class="btn btn-primary">Home</button></a>
      <center>
      <h1>{{hero_name}} Main Page</h1>
        <a href="{% url 'stats:allies' slug=slug %}"><button type="button" class="btn btn-primary">Allies</button></a>
        <a href="{% url 'stats:enemies' slug=slug %}"><button type="button" class="btn btn-primary">Enemies</button></a>
      </center>
    </body>
</html>

