{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <title> Hots Stats </title>
    </head>
    <body>
    <center>
      <h1> Hots Stats</h1>
      <a href="{% url 'stats:heroes' %}"><button type="button" class="btn btn-primary">Heroes</button></a>
      <a href="{% url 'stats:maps' %}"><button type="button" class="btn btn-primary">Maps</button></a>

      </center>
    </body>
</html>

